//- extend _template
extend /_dev/_include/_layout

block vars
  - title = 'MENU｜THE PIG & THE LADY｜OFFICIAL WEBSITE'
  - description = 'THE PIG & THE LADYの料理は、フランス料理出身のオーナーシェフ アンドリュー・レイの母親が作るベトナム料理が大切なルーツとなっており、母親の作り出す秘伝の“出汁”が重要で、それを使用した料理の数々が人気を集める要因の一つです。'
  - keywords = 'THE PIG & THE LADY,ザピッグアンドザレディ,ハワイ,ベトナム料理,モダンベトナムレストラン'
  - img = 'https://thepigandthelady.jp/assets/images/share/ogp.jpg'
  - url = 'https://thepigandthelady.jp'

  -
    var lunch = [{
      number: `01. `,
      name: `BANH MI & PHO COMBO`,
      name_jp: `バインミーとフォーのコンボ`,
      food_jp: `バインミーとフォーのハーフ＆ハーフコンボ`,
      food: `BANH MI & PHO COMBO`,
      thumb: `img_food_52.jpg`,
      alt: `バインミーとフォーのコンボ`
    }, {
      name: `THE PHO FRENCH DIP`,
      name_jp: `牛バラのバインミーフレンチディップスタイル`,
      food_jp: `牛バラ肉の煮込み、もやし、玉ねぎ、ホイズンソース、ハーブペースト、ビーフスープ`,
      food: `12-hour Roasted Beef Brisket, Sauteed Bean Sprouts & Onions, Spicy Hoisin Sauce, Thai Basil, Coriander, Pho Broth For Dipping`,
      thumb: `img_food_01.jpg`,
      alt: `牛バラのバインミーフレンチディップスタイル`
    }, {
      name: `THE VEGETABLE PHO FRENCH DIP`,
      name_jp: `ベジタブルバインミーフレンチディップスタイル`,
      food_jp: `季節のきのこ、ズッキーニ、なす、もやし、パクチー、ハーブペースト、ベジタブルスープ`,
      food: `Seasonal Mushrooms, Zucchini, Eggplant, Sauteed Bean Sprouts & Onions,Thai Basil, Coriander, Vegetable Pho Broth For Dipping`,
      thumb: `img_food_02.jpg`,
      alt: `ベジタブルバインミーフレンチディップスタイル`
    }, {
      name: `THE GRILLED BBQ PORK`,
      name_jp: `BBQポークのバインミー`,
      food_jp: `BBQポーク、パイナップル、もやし、玉ねぎ、パクチー、チリソース`,
      food: `Lemongrass & Sweet Soy, Chili Mayo, Pineapple, Sauteed Bean Sprouts & Onions, Coriander`,
      thumb: `img_food_03.jpg`,
      alt: `BBQポークのバインミー`
    }, {
      name: `PHO 75`,
      name_jp: `牛肉のフォー`,
      food_jp: `牛肉、ネギ、パクチー、チリ、生姜、季節の柑橘`,
      food: `Rare Beef, Braised Brisket, Green Onion, Coriander, Chili, Ginger, Citrus`,
      thumb: `img_food_04.jpg`,
      alt: `牛肉のフォー`
    }, {
      name: `PHO CHAY`,
      name_jp: `ベジタブルフォー`,
      food_jp: `エノキ、トマト、オクラ、厚揚げ、かぼちゃ、ネギ、パクチー、チリ、生姜、季節の柑橘`,
      food: `Enoki, Tomato, Kabocha, Okra, Green Onions, Coriander, Chili, Ginger, Citrus`,
      thumb: `img_food_05.jpg`,
      alt: `ベジタブルフォー`
    }, {
      name: `PHO GA`,
      name_jp: `チキンのフォー`,
      food_jp: `蒸し鶏、ベトナムミント、ネギ、パクチー、チリ、生姜、季節の柑橘`,
      food: `Stewed Chicken, Vietnamese Mint, Green Onions, Coriander, Chili, Ginger, Citrus`,
      thumb: `img_food_06.jpg`,
      alt: `チキンのフォー`
    }, {
      name: `GRILLED SEAFOOD CURRY`,
      name_jp: `シーフードグリル イエローカレーソース`,
      food_jp: `シーフードグリル、イエローカレーソース、ココナッツ、洋梨、スターフルーツ、タイバジル、フライドエシャロット`,
      food: `Coconut, Sweet Spices, Poached Pear, Okra, Starfruit, Thai Basil`,
      thumb: `img_food_07.jpg`,
      alt: `シーフードグリル イエローカレーソース`
    }, {
      name: `VEGETABLE SPRING ROLLS`,
      name_jp: `ベジタブル揚げ春巻き`,
      food_jp: `ニンジン、シイタケ、豆腐、春雨、ミント、紫蘇、グリーンカール、ヌクチャムソース`,
      food: `Shiitake Mushrooms, Tofu, Carrots, Glass Noodle, Mint & Shiso Wraps, Soy Nuoc Cham Dipping Sauce`,
      thumb: `img_food_17.jpg`,
      alt: `ベジタブル揚げ春巻き`
    }, {
      name: `BURMESE TEA SALAD`,
      name_jp: `バーミーズ ティー サラダ`,
      food_jp: `グリーンパパイヤ、トマト、アルファルファ、デーツ、3種の豆、ゴマ、カボチャのたね、レモン、フライドエシャロット＆ガーリック、発酵したお茶の葉ドレッシング`,
      food: `Green Papaya, Tomato, Young Sprouts, Salted Lemon, Sweet Dates, Crunchy Seeds, Sesame, Fried Shallot & Garlic, Fermented Tea Dressing`,
      thumb: `img_food_18.jpg`,
      alt: `バーミーズ ティー サラダ`
    }, {
      name: `LE FRIED CHICKEN`,
      name_jp: `アンドリューのフライドチキン`,
      food_jp: `手羽、ライム、フライドエシャロット、ピーナッツ、キャベツ、赤玉ねぎのピクルス、＄＄ソース`,
      food: `Twice-Fried Wings, Kaffir Lime, Peanuts, Shallot, Cabbage, Money $$$auce`,
      thumb: `img_food_19.jpg`,
      alt: `アンドリューのフライドチキン`
    }, {
      name: `MELON CARPACCIO`,
      name_jp: `メロンカルパッチョ`,
      food_jp: `メロン、エシャロット、干しホタルイカ、ライム、ミント、グリーンパパイヤのチャツネソース`,
      food: `Cantaloupe, Honeydew, Green Papaya Chutney, Mint, Firefly Squid, Spiced Vinaigrette`,
      thumb: `img_food_20.jpg`,
      alt: `メロンカルパッチョ`
    }, {
      name: `HANOI EGG COFFEE`,
      name_jp: `ハノイエッグコーヒー`,
      food_jp: `卵黄、バニラシュガー、ベトナム産コーヒー`,
      food: `Sweet Egg Yolk, Vanilla, Vietnamese Espresso`,
      thumb: `img_food_08.jpg`,
      alt: `ハノイエッグコーヒー`
    }, {
      name: `GOAT CHEESE PANNA COTTA`,
      name_jp: `シェーブルチーズパンナコッタ`,
      food_jp: `シェーブルチーズのパンナコッタ、イチゴのピクルスのグラニテ、ルバーブ、ハイビスカス、松の実、紫蘇、ミント`,
      food: `Pickled Strawberry Ice, Rhubarb, Hibiscus, Pine Nuts, Shiso, Mint`,
      thumb: `img_food_09.jpg`,
      alt: `シェーブルチーズパンナコッタ`
    }, {
      name: `CHOCOLATE CREMEUX`,
      name_jp: `チョコレートムース`,
      food_jp: `オレンジブロッサムとヨーグルトクリーム、くるみ、シーソルト、アマランサス`,
      food: `Orange Blossom & Yogurt Cream, Candied Walnuts, Sea Salt, Amaranth, Edible Flowers`,
      thumb: `img_food_10.jpg`,
      alt: `チョコレートムース`
    }, {
      name: `LILIKOI MALASADAS`,
      name_jp: `リリコイ マラサダ`,
      food_jp: `ハワイ風ドーナツ、パッションフルーツキャラメル、マンゴー、黒ゴマのアイスクリーム`,
      food: `Hawaiian Style Donuts, Passion Fruit Caramel, Mango, Black Sesame Ice Cream`,
      thumb: `img_food_11.jpg`,
      alt: `リリコイ マラサダ`
    }, {
      name: `YUZU SEMIFREDDO`,
      name_jp: `柚子のセミフレッド`,
      food_jp: `柚子のセミフレッド、バニラシフォンケーキ、ラズベリー、ベリーソース、マカダミアナッツ、コーンフレーク`,
      food: `Chiffon Cake, Raspberry, Corn Flake & Macadamia Crumble`,
      thumb: `img_food_12.jpg`,
      alt: `柚子のセミフレッド`
    }, {
      name: `P&L SOFT SERVE`,
      name_jp: `P & L ソフトサーブ`,
      food_jp: `本日のフレーバー2種を使ったソフトクリーム`,
      food: `Special Flavors of the Month`,
      thumb: `img_food_53.jpg`,
      alt: `P & L ソフトサーブ`
    }, {
      name: `P&L SUNDAE FUNDAY`,
      name_jp: `P & L サンデーファンデー`,
      food_jp: `本日のフレーバー2種を使ったソフトクリーム、ワッフル、チョコレートソース、マカデミアナッツ`,
      food: `Special Soft Serve Flavors of the Month, Waffle Bowl, Chocolate Sauce, Candied Macadamia Nuts`,
      thumb: `img_food_54.jpg`,
      alt: `P & L サンデーファンデー`
    }];

  -
    var dinner = [{
      name: `DAD'S TOAST`,
      name_jp: `DAD'S トースト`,
      food_jp: `ソーセージ、イワシ、スパイシートマトソース、ネギ、バゲット`,
      food: `Spicy Tomato Sauce, Sausage, Sardine, Chives, Warm Baguette`,
      thumb: `img_food_15.jpg`,
      alt: `DAD'S トースト`
    }, {
      name: `MOM'S PATE CHAUD`,
      name_jp: `MOM'S パテ`,
      food_jp: `豚肉のパイ包み焼き、レバーのムース、ハラペーニョと赤玉ねぎのピクルス`,
      food: `Sweet & Salty Pork Pastry, Vietnamese Pate, Jalapeno Pickles`,
      thumb: `img_food_16.jpg`,
      alt: `MOM'S パテ`
    }, {
      name: `VEGETABLE SPRING ROLLS`,
      name_jp: `ベジタブル揚げ春巻き`,
      food_jp: `ニンジン、シイタケ、春雨、ミント、紫蘇、ヌクチャムソース`,
      food: `Shiitake Mushrooms, Tofu, Carrots, Glass Noodle, Mint & Shiso Wraps, Soy Nuoc Cham Dipping Sauce`,
      thumb: `img_food_17.jpg`,
      alt: `ベジタブル揚げ春巻き`
    }, {
      name: `BURMESE TEA SALAD`,
      name_jp: `バーミーズ ティー サラダ`,
      food_jp: `グリーンパパイヤ、トマト、アルファルファ、デーツ、3種の豆、ゴマ、カボチャのたね、レモン、フライドエシャロット＆ガーリック、発酵したお茶の葉ドレッシング`,
      food: `Green Papaya, Tomato, Young Sprouts, Salted Lemon, Sweet Dates, Crunchy Seeds, Sesame, Fried Shallot & Garlic, Fermented Tea Dressing`,
      thumb: `img_food_18.jpg`,
      alt: `バーミーズ ティー サラダ`
    }, {
      name: `LE FRIED CHICKEN`,
      name_jp: `アンドリューのフライドチキン`,
      food_jp: `手羽、ライム、フライドエシャロット、ピーナッツ、キャベツ、赤玉ねぎのピクルス、＄＄ソース`,
      food: `Twice-Fried Wings, Kaffir Lime, Peanuts, Shallot, Cabbage, Money $$$auce`,
      thumb: `img_food_19.jpg`,
      alt: `アンドリューのフライドチキン`
    }, {
      name: `MELON CARPACCIO`,
      name_jp: `メロンカルパッチョ`,
      food_jp: `メロン、エシャロット、ライム、ミント、チャツネソース`,
      food: `Cantaloupe, Honeydew, Green Papaya Chutney, Mint, Firefly Squid, Spiced Vinaigrette`,
      thumb: `img_food_20.jpg`,
      alt: `メロンカルパッチョ`
    }, {
      name: `DAIKON RICE CAKE`,
      name_jp: `大根ケーキ`,
      food_jp: `大根、きゅうり、自家製なます、マスの卵、パクチー`,
      food: `Pan-Fried till Crispy, Trout Roe, Housemade Pickles, Cucumber, Coriander, Brown Butter & Garlic Soy`,
      thumb: `img_food_21.jpg`,
      alt: `大根ケーキ`
    }, {
      name: `BROCCOLINI`,
      name_jp: `ブロッコリーニ`,
      food_jp: `ブロッコリー、トマト、紫蘇、パルメザンチーズ、ライム、バルサミコ酢、ホイズンソース`,
      food: `Balsamic Char Siu, Pickled Tomato, Parmesan, Shiso, Lime`,
      thumb: `img_food_22.jpg`,
      alt: `ブロッコリーニ`
    }, {
      name: `VIETNAMESE " PIZZA " CHINESE PORK SAUSAGE & FERMENTED SHRIMP`,
      name_jp: `ベトナミーズピザチャイニーズソーセージ＆発酵エビ`,
      food_jp: `チャイニーズソーセージ、発酵エビ、フライドエシャロット、ネギ、パクチー、ベトナムミント、ハラペーニョとレッドチリのピクルス、卵、クリームチーズ`,
      food: `Grilled Rice Paper layered with Egg, Green Onion, Vietnamese Mint, Pickled Jalapeno, Cream Cheese, Sweet Chili Sauce`,
      thumb: `img_food_24.jpg`,
      alt: `ベトナミーズピザチャイニーズソーセージ＆発酵エビ`
    }, {
      name: `VIETNAMESE " PIZZA " TRUFFLE & CORN`,
      name_jp: `ベトナミーズピザトリュフ＆コーン`,
      food_jp: `あわび茸、シイタケのピクルス、パルメザンチーズ、クリームチーズ、ネギ、スイートコーン、卵`,
      food: `Oyster Mushroom, Pickled Shiitake, Sweet Corn, Parmesan, Cream Cheese, Egg, Scallion`,
      thumb: `img_food_23.jpg`,
      alt: `ベトナミーズピザトリュフ＆コーン`
    }, {
      name: `HALF-CHICKEN 'CHAM CHEO'`,
      name_jp: `ベトナム風グリルチキン チャムチェオソース`,
      food_jp: `チキン、たけのこ、グリーンパパイヤ、チリソース、シトラスハーブソース`,
      food: `Dien Bien Mac Khen Pepper, Bamboo & Chili Sate Salad, Citrus Herb Sauce`,
      thumb: `img_food_25.jpg`,
      alt: `ベトナム風グリルチキン チャムチェオソース`
    }, {
      name: `GRILLED SEAFOOD CURRY`,
      name_jp: `シーフードグリル イエローカレーソース`,
      food_jp: `シーフードグリル、イエローカレーソース、ココナッツ、洋梨、スターフルーツ、タイバジル、エシャロット`,
      food: `Coconut, Sweet Spices, Poached Pear, Okra, Starfruit, Thai Basil`,
      thumb: `img_food_26.jpg`,
      alt: `シーフードグリル イエローカレーソース`
    }, {
      name: `SPICED PORK CHOP`,
      name_jp: `バイチャプーポークチョップ`,
      food_jp: `豚ロースのバイチャプーマリネ、赤キャベツ、リンゴ、ハーブ、自家製ラルド、ポークソース`,
      food: `Bai Cha Pul Marinade, Apple & Herb Salad, Toasted Rice, Salted Pork Cracklings, Roasted Meat Vinaigrette`,
      thumb: `img_food_27.jpg`,
      alt: `バイチャプーポークチョップ`
    }, {
      name: `PHO 75`,
      name_jp: `牛肉のフォー`,
      food_jp: `牛肉、ネギ、パクチー、チリ、生姜、季節の柑橘`,
      food: `Rare Beef, Braised Brisket, Green Onion, Coriander, Chili, Ginger, Citrus`,
      thumb: `img_food_28.jpg`,
      alt: `牛肉のフォー`
    }, {
      name: `PHO CHAY`,
      name_jp: `ベジタブルフォー`,
      food_jp: `エノキ、トマト、オクラ、厚揚げ、かぼちゃ、ネギ、パクチー、チリ、生姜、季節の柑橘`,
      food: `Enoki, Tomato, Kabocha, Okra, Green Onions, Coriander, Chili, Ginger, Citrus`,
      thumb: `img_food_29.jpg`,
      alt: `ベジタブルフォー`
    }, {
      name: `PHO GA`,
      name_jp: `チキンのフォー`,
      food_jp: `蒸し鶏、ベトナムミント、ネギ、パクチー、チリ、生姜、季節の柑橘`,
      food: `Stewed Chicken, Vietnamese Mint, Green Onions, Coriander, Chili, Ginger, Citrus`,
      thumb: `img_food_30.jpg`,
      alt: `チキンのフォー`
    }, {
      name: `HANOI EGG COFFEE`,
      name_jp: `ハノイエッグコーヒー`,
      food_jp: `卵黄、バニラシュガー、ベトナム産コーヒー`,
      food: `Sweet Egg Yolk, Vanilla, Vietnamese Espresso`,
      thumb: `img_food_35.jpg`,
      alt: `ハノイエッグコーヒー`
    }, {
      name: `GOAT CHEESE PANNA COTTA`,
      name_jp: `シェーブルチーズパンナコッタ`,
      food_jp: `シェーブルチーズのパンナコッタ、イチゴのピクルスのグラニテ、ルバーブ、ハイビスカス、松の実、紫蘇、ミント`,
      food: `Pickled Strawberry Ice, Rhubarb, Hibiscus, Pine Nuts, Shiso, Mint`,
      thumb: `img_food_36.jpg`,
      alt: `シェーブルチーズパンナコッタ`
    }, {
      name: `CHOCOLATE CREMEUX`,
      name_jp: `チョコレートムース`,
      food_jp: `オレンジブロッサムとヨーグルトクリーム、くるみ、シーソルト、アマランサス`,
      food: `Orange Blossom & Yogurt Cream, Candied Walnuts, Sea Salt, Amaranth, Edible Flowers`,
      thumb: `img_food_37.jpg`,
      alt: `チョコレートムース`
    }, {
      name: `LILIKOI MALASADAS`,
      name_jp: `リリコイ マラサダ`,
      food_jp: `ハワイ風ドーナツ、パッションフルーツキャラメル、マンゴー、黒ゴマのアイスクリーム`,
      food: `Hawaiian Style Donuts, Passion Fruit Caramel, Mango, Black Sesame Ice Cream`,
      thumb: `img_food_38.jpg`,
      alt: `リリコイ マラサダ`
    }, {
      name: `YUZU SEMIFREDDO`,
      name_jp: `柚子のセミフレッド`,
      food_jp: `柚子のセミフレッド、バニラシフォンケーキ、ラズベリー、ベリーソース、マカダミアナッツ、コーンフレーク`,
      food: `Chiffon Cake, Raspberry, Corn Flake & Macadamia Crumble`,
      thumb: `img_food_39.jpg`,
      alt: `柚子のセミフレッド`
    }, {
      name: `P&L SOFT SERVE`,
      name_jp: `P & L ソフトサーブ`,
      food_jp: `本日のフレーバー2種を使ったソフトクリーム`,
      food: `Special Flavors of the Month`,
      thumb: `img_food_53.jpg`,
      alt: `P & L ソフトサーブ`
    }, {
      name: `P&L SUNDAE FUNDAY`,
      name_jp: `P & L サンデーファンデー`,
      food_jp: `本日のフレーバー2種を使ったソフトクリーム、ワッフル、チョコレートソース、マカデミアナッツ`,
      food: `Special Soft Serve Flavors of the Month, Waffle Bowl, Chocolate Sauce, Candied Macadamia Nuts`,
      thumb: `img_food_54.jpg`,
      alt: `P & L サンデーファンデー`
    //- }, {
    //-   name: `FRIED EGGS`,
    //-   name_jp: `目玉焼き`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `BAGUETTE`,
    //-   name_jp: `バゲット`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `JASMINE RICE`,
    //-   name_jp: `ジャスミンライス`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `BOWL OF BROTH`,
    //-   name_jp: `フォーのスープ`,
    //-   food_jp: `ビーフまたはチキンまたはベジタブル`,
    //-   food: `Beef Chicken or Vegetable`,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `フォーのスープ`
    }];

  -
    var drink = [{
      name: `P&L SOUR`,
      name_jp: `P&L サワー`,
      food_jp: ``,
      food: `BOURBON, LIME, APRICOT, TAMARIND`,
      thumb: `img_food_42.jpg`,
      alt: `P&L サワー`
    }, {
      name: `RUMAWAY CLUB`,
      name_jp: `ラムアウェイクラブ`,
      food_jp: ``,
      food: `RUM, CINNAMON, GRAPEFRUIT, LIME, KABOSU`,
      thumb: `img_food_44.jpg`,
      alt: `ラムアウェイクラブ`
    }, {
      name: `FROND FILES`,
      name_jp: `フロンドファイルズ`,
      food_jp: ``,
      food: `GIN, PANDAN SYRUP, ALOE, LIQUEUR, LIME`,
      thumb: `img_food_43.jpg`,
      alt: `フロンドファイルズ`
    }, {
      name: `TAMARIND BEER`,
      name_jp: `タマリンドビア`,
      food_jp: ``,
      food: `TAMARIND, BEER`,
      thumb: `img_food_45.jpg`,
      alt: `タマリンドビア`
    }, {
      name: `PANDAN PIINYA`,
      name_jp: `パンダンピーニャ`,
      food_jp: ``,
      food: `RUM, PINEAPPLE, COCONUT MILK, PANDAN LEAF, CINNAMON`,
      thumb: `img_food_46.jpg`,
      alt: `パンダンピーニャ`
    }, {
      name: `GOLDEN PIG`,
      name_jp: `ゴールデンピグ`,
      food_jp: ``,
      food: `SPARKLING ROSE, LEMON, MINT, THAI BASIL, LEMONGRASS`,
      thumb: `img_food_47.jpg`,
      alt: `ゴールデンピグ`
    }, {
      name: `HAWAIIAN & VIETNAMESE BEERS`,
      name_jp: `ハワイアン & ベトナミーズビール`,
      food_jp: ``,
      food: `KONA & SAIGON & MAUI`,
      thumb: `img_food_55.jpg`,
      alt: `ハワイアン & ベトナミーズビール`
    //- }, {
    //-   name: `08. CHANH MUÔI SOUR`,
    //-   name_jp: `チャンムイサワー`,
    //-   food_jp: ``,
    //-   food: `SALTED LEMON,VODKA,SODA`,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `09. BOTTLED KONA BIG WAVE`,
    //-   name_jp: `コナビッグウェーブ`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `10. BOTTLED KONA FIRE ROCK`,
    //-   name_jp: `コナファイアーロック`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `11. BOTTLED KONA HANALEI IPA`,
    //-   name_jp: `コナハナレイ`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `12. BOTTLED SAIGON`,
    //-   name_jp: `サイゴン`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `13. BOTTLED SAIGON SPECIAL`,
    //-   name_jp: `サイゴンスペシャル`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `14. MAUI BIG SWELL`,
    //-   name_jp: `マウイ ビッグスウェル`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `15. MAUI COCONUT HIWA`,
    //-   name_jp: `マウイ ココナッツヒワ`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `16. MAUI PINENAPPLE MANA`,
    //-   name_jp: `マウイ パイナップルマナ`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `17. LEMONGRASS & CINNAMON`,
    //-   name_jp: `レモングラス&シナモン`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `18. LEMONGRASS & GINGER ALE`,
    //-   name_jp: `レモングラス&ジンジャーエール`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `19. PASSION FRUITS & JASMINE`,
    //-   name_jp: `パッションフルーツ&ジャスミン`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    //- }, {
    //-   name: `20. CHANH MUÔI SQUASH`,
    //-   name_jp: `チャンムイスカッシュ`,
    //-   food_jp: ``,
    //-   food: ``,
    //-   thumb: `img_comingsoon.jpg`,
    //-   alt: `Coming Soon`
    }];

  -
    var takeout = [{
      name: `THE PHO FRENCH DIP`,
      name_jp: `牛バラのバインミーフレンチディップスタイル`,
      food_jp: `牛バラ肉の煮込み、もやし、玉ねぎ、ホイズンソース、ハーブペースト、ビーフスープ`,
      food: `12-hour Roasted Beef Brisket, Sauteed Bean Sprouts & Onions, Spicy Hoisin Sauce, Thai Basil, Coriander, Pho Broth For Dipping`,
      thumb: `img_food_56.jpg`,
      alt: `牛バラのバインミーフレンチディップスタイル`
    }, {
      name: `THE VEGETABLE PHO FRENCH DIP`,
      name_jp: `ベジタブルバインミーフレンチディップスタイル`,
      food_jp: `季節のきのこ、ズッキーニ、なす、もやし、パクチー、ハーブペースト、ベジタブルスープ`,
      food: `Seasonal Mushrooms, Zucchini, Eggplant, Sauteed Bean Sprouts & Onions,Thai Basil, Coriander, Vegetable Pho Broth For Dipping`,
      thumb: `img_food_57.jpg`,
      alt: `ベジタブルバインミーフレンチディップスタイル`
    }, {
      name: `THE GRILLED BBQ PORK`,
      name_jp: `BBQポークのバインミー`,
      food_jp: `BBQポーク、パイナップル、もやし、玉ねぎ、パクチー、チリソース`,
      food: `Lemongrass & Sweet Soy, Chili Mayo, Pineapple, Sauteed Bean Sprouts & Onions, Coriander`,
      thumb: `img_food_58.jpg`,
      alt: `BBQポークのバインミー`
    }];


block main


  //- .p-menu(data-module="MenuPageScroll")
  .p-menu
    header
      //- .p-splash__navigation__wrapper
      .p-lower__navigation__wrapper
        include /_dev/_include/_inc_lower_nav.pug
      #nav-toggle
        span
        span
        span
      .p-burger_wrapper(data-module="burgerMenu")
        .l-col.l-col--2
          .p-burger_space
          include /_dev/_include/_inc_burger_menu.pug

    .p-content

      .p-menu-nav(data-module="FixMenuNav")
        .l-inner
          ul.p-menu-nav__food(data-module="MenuAnchorAdjust")
            li
              a(href='#lunch' data-module-adjust="lunch") LUNCH
            li
              a(href='#dinner') DINNER
            li
              a(href='#drink') DRINK
            li
              a(href='#takeout') TAKE OUT
          ul.p-menu-nav__pdf
            li
              a(href='/pdf/Lunch_web.pdf' target='_blank')
                span.u-spOnly LUNCH 
                |PDF
            li
              a(href='/pdf/Dinner_web.pdf' target='_blank')
                span.u-spOnly DINNER 
                |PDF
            li
              a(href='/pdf/Drink_web.pdf' target='_blank')
                span.u-spOnly DRINK 
                |PDF
            li
              a(href='/pdf/Takeout_web.pdf' target='_blank')
                span.u-spOnly TAKE OUT 
                |PDF


      h2 MENU

      .p-section
        .l-inner
          //- .p-menu-showbtn(data-module='MenuAllImageShow')
          .p-menu-showbtn
            |ALL PHOTOS CLICK HERE

          .p-menu-wrap

            //- .p-menu-showbtn(data-module='MenuAllImageShow')
            //-   |ALL PHOTOS CLICK HERE

            #lunch.p-menu-group
              .p-menu-category
                |LUNCH
              .p-menu-info
                each i, index in lunch
                  .p-menu-item.hasimage(data-module='MenuImageShow' data-image=`/assets/images/menu/${i.thumb}` data-caption=`${i.name}` data-jp-caption=`${i.name_jp}`)
                    h3 !{i.name}
                    p.p-sub-title !{i.name_jp}
                    p.p-menu-item__desc
                      |!{i.food}
                    p.u-font-noto !{i.food_jp}
                    //- .item-img-container
                    .p-menu-item__img
                      img(src=`/assets/images/menu/${i.thumb}` alt=`${i.alt}`)


            //-   .p-menu-info
            //-     //- .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_food_01.jpg' data-caption='01. PHO CHAY' data-jp-caption='ベジタブルフォー')
            //-     .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='01. PHO CHAY' data-jp-caption='ベジタブルフォー')
            //-       h3 01. PHO CHAY
            //-       p.p-sub-title ベジタブルフォー
            //-       p.u-font-noto 野菜と昆布ベースのスープ、米粉麺、マッシュルーム、トマト、フライドエシャロット、ネギ、ハーブ、黒コショウ、シークワーサー
            //-       p.p-menu-item__desc
            //-         |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
            //-       //- .item-img-container
            //-       //- .p-menu-item__img.is-show
            //-       .p-menu-item__img
            //-         //- img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO CHAY')
            //-         img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

            //-     .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='02. PHO BO' data-jp-caption='牛肉のフォー')
            //-       h3 02. PHO BO
            //-       p.p-sub-title 牛肉のフォー
            //-       p.u-font-noto ぎゅうベースのスープ、米粉麺、牛肉、牛バラ肉、ネギ、ベトナム風パクチー、黒コショウ、シークワーサー、生姜
            //-       p.p-menu-item__desc
            //-         |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
            //-       //- .item-img-container
            //-       .p-menu-item__img
            //-         //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hold.jpg` alt='PHO BO')
            //-         img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

            //-     .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='03. FRIED DAIKON RICE CAKE' data-jp-caption='アンドリューのフライドチキン')
            //-       h3 03. FRIED DAIKON RICE CAKE
            //-       p.p-sub-title アンドリューのフライドチキン
            //-       p.u-font-noto 手羽先、ライム、エシャロット、ピーナッツ、赤キャベツ、マニーソース
            //-       p.p-menu-item__desc
            //-         |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
            //-       //- .item-img-container
            //-       //- .p-menu-item__img.is-show
            //-       .p-menu-item__img
            //-         //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Avo_Toast.jpg` alt='PHO CHAY')
            //-         img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

            //-     .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='04. FRENCH DIP BANH MI' data-jp-caption='牛バラのバインミー フレンチディップスタイル')
            //-       h3 04. FRENCH DIP BANH MI
            //-       p.p-sub-title 牛バラのバインミー フレンチディップスタイル
            //-       p.u-font-noto 12時間焼いた牛バラ、ホイズンソース、バジルペースト、もやし&玉ねぎ、バゲット、フォーのスープ(バインミーをディップする用)&自家製なます
            //-       p.p-menu-item__desc
            //-         |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
            //-       //- .item-img-container
            //-       .p-menu-item__img
            //-         //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Rug.jpg` alt='PHO BO')
            //-         img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

            #dinner.p-menu-group
              .p-menu-category
                |DINNER
              .p-menu-info
                each i, index in dinner
                  .p-menu-item.hasimage(data-module='MenuImageShow' data-image=`/assets/images/menu/${i.thumb}` data-caption=`${i.name}` data-jp-caption=`${i.name_jp}`)
                    h3 !{i.name}
                    p.p-sub-title !{i.name_jp}
                    p.p-menu-item__desc
                      |!{i.food}
                    p.u-font-noto !{i.food_jp}
                    //- .item-img-container
                    .p-menu-item__img
                      img(src=`/assets/images/menu/${i.thumb}` alt=`${i.alt}`)



            //-   .p-menu-info
            //-     .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='01. CHINESE PORK SAUSAGE & FERMENTED SHRIMP' data-jp-caption='豚肉のソーセージ&発酵エビ')
            //-       h3 01. CHINESE PORK SAUSAGE &amp; FERMENTED SHRIMP
            //-       p.p-sub-title 豚肉のソーセージ&amp;発酵エビ
            //-       p.u-font-noto 焼いたライスペーパー、豚肉のソーセージ、発酵エビ、揚げエシャロット、チーズ、ハラペーニョ、ネギ、パクチー、卵
            //-       p.p-menu-item__desc
            //-         |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
            //-       //- .item-img-container
            //-       .p-menu-item__img
            //-         //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Sorrel_Works.jpg` alt='PHO CHAY')
            //-         img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

            //-     .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='02. BURMESE TEA SALAD' data-jp-caption='バーミーズ ティーサラダ')
            //-       h3 02. BURMESE TEA SALAD
            //-       p.p-sub-title バーミーズ ティーサラダ
            //-       p.u-font-noto グリーンパパイア、トマト、エシャロット、にんにく、ゴマ、ナッツ、塩レモン、発行したお茶の葉
            //-       p.p-menu-item__desc
            //-         |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
            //-       //- .item-img-container
            //-       .p-menu-item__img
            //-         //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hash.jpg` alt='PHO BO')
            //-         img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')


            #drink.p-menu-group
              .p-menu-category
                |DRINK
              .p-menu-info
                each i, index in drink
                  .p-menu-item.hasimage(data-module='MenuImageShow' data-image=`/assets/images/menu/${i.thumb}` data-caption=`${i.name}` data-jp-caption=`${i.name_jp}`)
                    h3 !{i.name}
                    p.p-sub-title !{i.name_jp}
                    p.p-menu-item__desc
                      |!{i.food}
                    p.u-font-noto !{i.food_jp}
                    //- .item-img-container
                    .p-menu-item__img
                      img(src=`/assets/images/menu/${i.thumb}` alt=`${i.alt}`)
            //- #drink.p-menu-group
            //-   .p-menu-info
            //-     .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Chicken_Porr_Egg_B.jpg' data-caption="01. DAD'S TOAST" data-jp-caption="DAD'S トースト")
            //-       h3 01. DAD'S TOAST
            //-       p.p-sub-title DAD'S トースト
            //-       p.u-font-noto ソーセージ、イワシ、トマトソース、バゲット
            //-       p.p-menu-item__desc
            //-         |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
            //-       //- .item-img-container
            //-       .p-menu-item__img
            //-         img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Chicken_Porr_Egg_B.jpg` alt='PHO CHAY')

            //-     .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Quiche.jpg' data-caption="02. MOM'S PATE CHAUD" data-jp-caption="MOM'S パテ")
            //-       h3 02. MOM'S PATE CHAUD
            //-       p.p-sub-title MOM'S パテ
            //-       p.u-font-noto 豚肉のパイ包み焼き、豚レバーのムース、ハラペーニョピクルス
            //-       p.p-menu-item__desc
            //-         |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
            //-       //- .item-img-container
            //-       .p-menu-item__img
            //-         img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Quiche.jpg` alt='PHO BO')


            #takeout.p-menu-group
              .p-menu-category
                |TAKEOUT
              .p-menu-info
                each i, index in takeout
                  .p-menu-item.hasimage(data-module='MenuImageShow' data-image=`/assets/images/menu/${i.thumb}` data-caption=`${i.name}` data-jp-caption=`${i.name_jp}`)
                    h3 !{i.name}
                    p.p-sub-title !{i.name_jp}
                    p.p-menu-item__desc
                      |!{i.food}
                    p.u-font-noto !{i.food_jp}
                    //- .item-img-container
                    .p-menu-item__img
                      img(src=`/assets/images/menu/${i.thumb}` alt=`${i.alt}`)

              //- .p-menu-info
              //-   .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption="01. TAKE OUT TAKE OUT" data-jp-caption="TAKE OUTメニュー")
              //-     h3 01. TAKE OUT TAKE OUT
              //-     p.p-sub-title TAKE OUTメニュー
              //-     p.u-font-noto ソーセージ、イワシ、トマトソース、バゲット
              //-     p.p-menu-item__desc
              //-       |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
              //-       |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
              //-     //- .item-img-container
              //-     .p-menu-item__img
              //-       //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Chicken_Porr_Egg_B.jpg` alt='PHO CHAY')
              //-       img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

              //-   .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption="02. TAKE OUT TAKE OUT" data-jp-caption="TAKE OUTメニュー")
              //-     h3 02. TAKE OUT TAKE OUT
              //-     p.p-sub-title TAKE OUTメニュー
              //-     p.u-font-noto 豚肉のパイ包み焼き、豚レバーのムース、ハラペーニョピクルス
              //-     p.p-menu-item__desc
              //-       |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
              //-       |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
              //-     //- .item-img-container
              //-     .p-menu-item__img
              //-       //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Quiche.jpg` alt='PHO BO')
              //-       img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

              //-   .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='03. TAKE OUT TAKE OUT' data-jp-caption='TAKE OUTメニュー')
              //-     h3 03. TAKE OUT TAKE OUT
              //-     p.p-sub-title TAKE OUTメニュー
              //-     p.u-font-noto 手羽先、ライム、エシャロット、ピーナッツ、赤キャベツ、マニーソース
              //-     p.p-menu-item__desc
              //-       |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
              //-     //- .item-img-container
              //-     //- .p-menu-item__img.is-show
              //-     .p-menu-item__img
              //-       //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Avo_Toast.jpg` alt='PHO CHAY')
              //-       img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

              //-   .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='04. TAKE OUT TAKE OUT' data-jp-caption='TAKE OUTメニュー')
              //-     h3 04. TAKE OUT TAKE OUT
              //-     p.p-sub-title TAKE OUTメニュー
              //-     p.u-font-noto 12時間焼いた牛バラ、ホイズンソース、バジルペースト、もやし&玉ねぎ、バゲット、フォーのスープ(バインミーをディップする用)&自家製なます
              //-     p.p-menu-item__desc
              //-       |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
              //-     //- .item-img-container
              //-     .p-menu-item__img
              //-       //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Rug.jpg` alt='PHO BO')
              //-       img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')


            .p-menu-thumb
              .p-menu-thumb__wrap#menu-thumb
                //- img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO CHAY')
                //- p.p-menu-thumb__name PHO CHAY
                //- p.p-menu-thumb__name--jp ベジタブルフォー


