//- extend _template
extend /_dev/_include/_layout

block vars
  - title = 'MENU｜THE PIG & THE LADY｜OFFICIAL WEBSITE'
  - description = 'THE PIG & THE LADYの料理は、フランス料理出身のオーナーシェフ アンドリュー・レイの母親が作るベトナム料理が大切なルーツとなっており、母親の作り出す秘伝の“出汁”が重要で、それを使用した料理の数々が人気を集める要因の一つです。'
  - keywords = 'THE PIG & THE LADY,ザピッグアンドザレディ,ハワイ,ベトナム料理,モダンベトナムレストラン'
  - img = 'https://thepigandthelady.jp/assets/images/share/ogp.jpg'
  - url = 'https://thepigandthelady.jp'

  -
    var lunch = [{
      name: `01. PHO CHAY`,
      name_jp: `ベジタブルフォー`,
      food_jp: `野菜と昆布ベースのスープ、米粉麺、マッシュルーム、トマト、フライドエシャロット、ネギ、ハーブ、黒コショウ、シークワーサー`,
      food: `Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa`,
      thumb: `img_food_01.jpg`,
      alt: `PHO CHAY`
    }, {
      name: `02. PHO BO`,
      name_jp: `牛肉のフォー`,
      food_jp: `ぎゅうベースのスープ、米粉麺、牛肉、牛バラ肉、ネギ、ベトナム風パクチー、黒コショウ、シークワーサー、生姜`,
      food: `Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa`,
      thumb: `img_food_01.jpg`,
      alt: `PHO BO`
    }, {
      name: `03. FRIED DAIKON RICE CAKE`,
      name_jp: `アンドリューのフライドチキン`,
      food_jp: `手羽先、ライム、エシャロット、ピーナッツ、赤キャベツ、マニーソース`,
      food: `Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa`,
      thumb: `img_food_01.jpg`,
      alt: `FRIED DAIKON RICE CAKE`
    }, {
      name: `04. FRENCH DIP BANH MI`,
      name_jp: `牛バラのバインミー フレンチディップスタイル`,
      food_jp: `12時間焼いた牛バラ、ホイズンソース、バジルペースト、もやし&玉ねぎ、バゲット、フォーのスープ(バインミーをディップする用)&自家製なます`,
      food: `Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa`,
      thumb: `img_food_01.jpg`,
      alt: `FRENCH DIP BANH MI`
    }];


  -
    var dinner = [{
      name: `01. CHINESE PORK SAUSAGE &amp; FERMENTED SHRIMP`,
      name_jp: `豚肉のソーセージ&amp;発酵エビ`,
      food_jp: `焼いたライスペーパー、豚肉のソーセージ、発酵エビ、揚げエシャロット、チーズ、ハラペーニョ、ネギ、パクチー、卵`,
      food: `Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa`,
      thumb: `img_food_01.jpg`,
      alt: `CHINESE PORK SAUSAGE &amp; FERMENTED SHRIMP`
    }, {
      name: `02. BURMESE TEA SALAD`,
      name_jp: `バーミーズ ティーサラダ`,
      food_jp: `グリーンパパイア、トマト、エシャロット、にんにく、ゴマ、ナッツ、塩レモン、発行したお茶の葉`,
      food: `Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa`,
      thumb: `img_food_01.jpg`,
      alt: `PHO BO`
    }];


  -
    var drink = [{
      name: `01. DAD'S TOAST`,
      name_jp: `DAD'S トースト`,
      food_jp: `ソーセージ、イワシ、トマトソース、バゲット`,
      food: `drink dummy text, drink dummy text, drink dummy text, drink dummy text, drink dummy text, drink dummy text, drink dummy text, drink dummy text, drink dummy text, drink dummy text, drink dummy text, drink dummy text`,
      thumb: `img_comingsoon.jpg`,
      alt: `DAD'S TOAST`
    }, {
      name: `02. MOM'S PATE CHAUD`,
      name_jp: `MOM'S パテ`,
      food_jp: `豚肉のパイ包み焼き、豚レバーのムース、ハラペーニョピクルス`,
      food: `the pig and the lady test text, the pig and the lady test text, the pig and the lady test text, the pig and the lady test text, the pig and the lady test text, the pig and the lady test text...`,
      thumb: `img_comingsoon.jpg`,
      alt: `MOM'S PATE CHAUD`
    }];

  -
    var takeout = [{
      name: `01. TAKE OUT TAKE OUT`,
      name_jp: `TAKE OUTメニュー`,
      food_jp: `ソーセージ、イワシ、トマトソース、バゲット`,
      food: `Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa`,
      thumb: `img_food_01.jpg`,
      alt: `TAKE OUT TAKE OUT`
    }, {
      name: `02. TAKE OUT TAKE OUT`,
      name_jp: `TAKE OUTメニュー`,
      food_jp: `豚肉のパイ包み焼き、豚レバーのムース、ハラペーニョピクルス`,
      food: `Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa, `,
      thumb: `img_food_01.jpg`,
      alt: `TAKE OUT TAKE OUT`
    }, {
      name: `02. TAKE OUT TAKE OUT`,
      name_jp: `TAKE OUTメニュー`,
      food_jp: `手羽先、ライム、エシャロット、ピーナッツ、赤キャベツ、マニーソース`,
      food: `Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa, `,
      thumb: `img_food_01.jpg`,
      alt: `TAKE OUT TAKE OUT`
    }, {
      name: `02. TAKE OUT TAKE OUT`,
      name_jp: `TAKE OUTメニュー`,
      food_jp: `12時間焼いた牛バラ、ホイズンソース、バジルペースト、もやし&玉ねぎ、バゲット、フォーのスープ(バインミーをディップする用)&自家製なます`,
      food: `Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa, `,
      thumb: `img_food_01.jpg`,
      alt: `TAKE OUT TAKE OUT`
    }];


block main


  //- .p-menu(data-module="loadToTop")
  .p-menu
    header
      //- .p-splash__navigation__wrapper
      .p-lower__navigation__wrapper
        include /_dev/_include/_inc_lower_nav.pug
      .p-burger_wrapper(data-module="burgerMenu FixNavigationLower")
        .l-col.l-col--2
          .p-burger_space
          include /_dev/_include/_inc_burger_menu.pug

    .p-content

      .p-menu-nav(data-module="FixMenuNav")
        .l-inner
          ul.p-menu-nav__food
            li
              a(href="#lunch") LUNCH
            li
              a(href="#dinner") DINNER
            li
              a(href="#drink") DRINK
            li
              a(href="#takeout") TAKE OUT
          ul.p-menu-nav__pdf
            li
              a(href="#")
                span.u-spOnly LUNCH 
                |PDF
            li
              a(href="#")
                span.u-spOnly DINNER 
                |PDF
            li
              a(href="#")
                span.u-spOnly DRINK 
                |PDF
            li
              a(href="#")
                //- span.u-spOnly SWEETS 
                span.u-spOnly TAKE OUT 
                |PDF


      h2 MENU

      .p-section
        .l-inner
          .p-menu-showbtn(data-module='MenuAllImageShow')
            |ALL PHOTOS CLICK HERE

          .p-menu-wrap

            //- .p-menu-showbtn(data-module='MenuAllImageShow')
            //-   |ALL PHOTOS CLICK HERE

            #lunch.p-menu-group
              .p-menu-info
                //- .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_food_01.jpg' data-caption='01. PHO CHAY' data-jp-caption='ベジタブルフォー')
                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='01. PHO CHAY' data-jp-caption='ベジタブルフォー')
                  h3 01. PHO CHAY
                  p.p-sub-title ベジタブルフォー
                  p.u-font-noto 野菜と昆布ベースのスープ、米粉麺、マッシュルーム、トマト、フライドエシャロット、ネギ、ハーブ、黒コショウ、シークワーサー
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  //- .p-menu-item__img.is-show
                  .p-menu-item__img
                    //- img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO CHAY')
                    img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='02. PHO BO' data-jp-caption='牛肉のフォー')
                  h3 02. PHO BO
                  p.p-sub-title 牛肉のフォー
                  p.u-font-noto ぎゅうベースのスープ、米粉麺、牛肉、牛バラ肉、ネギ、ベトナム風パクチー、黒コショウ、シークワーサー、生姜
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hold.jpg` alt='PHO BO')
                    img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='03. FRIED DAIKON RICE CAKE' data-jp-caption='アンドリューのフライドチキン')
                  h3 03. FRIED DAIKON RICE CAKE
                  p.p-sub-title アンドリューのフライドチキン
                  p.u-font-noto 手羽先、ライム、エシャロット、ピーナッツ、赤キャベツ、マニーソース
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  //- .p-menu-item__img.is-show
                  .p-menu-item__img
                    //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Avo_Toast.jpg` alt='PHO CHAY')
                    img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='04. FRENCH DIP BANH MI' data-jp-caption='牛バラのバインミー フレンチディップスタイル')
                  h3 04. FRENCH DIP BANH MI
                  p.p-sub-title 牛バラのバインミー フレンチディップスタイル
                  p.u-font-noto 12時間焼いた牛バラ、ホイズンソース、バジルペースト、もやし&玉ねぎ、バゲット、フォーのスープ(バインミーをディップする用)&自家製なます
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Rug.jpg` alt='PHO BO')
                    img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

            #dinner.p-menu-group
              .p-menu-info
                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='01. CHINESE PORK SAUSAGE & FERMENTED SHRIMP' data-jp-caption='豚肉のソーセージ&発酵エビ')
                  h3 01. CHINESE PORK SAUSAGE &amp; FERMENTED SHRIMP
                  p.p-sub-title 豚肉のソーセージ&amp;発酵エビ
                  p.u-font-noto 焼いたライスペーパー、豚肉のソーセージ、発酵エビ、揚げエシャロット、チーズ、ハラペーニョ、ネギ、パクチー、卵
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Sorrel_Works.jpg` alt='PHO CHAY')
                    img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='02. BURMESE TEA SALAD' data-jp-caption='バーミーズ ティーサラダ')
                  h3 02. BURMESE TEA SALAD
                  p.p-sub-title バーミーズ ティーサラダ
                  p.u-font-noto グリーンパパイア、トマト、エシャロット、にんにく、ゴマ、ナッツ、塩レモン、発行したお茶の葉
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hash.jpg` alt='PHO BO')
                    img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')


            #drink.p-menu-group
              .p-menu-info
                each i, index in drink
                  .p-menu-item.hasimage(data-module='MenuImageShow' data-image=`/assets/images/menu/${i.thumb}` data-caption=`${i.name}` data-jp-caption=`${i.name_jp}`)
                    h3 !{i.name}
                    p.p-sub-title !{i.name_jp}
                    p.u-font-noto !{i.food_jp}
                    p.p-menu-item__desc
                      |!{i.food}
                    //- .item-img-container
                    .p-menu-item__img
                      img(src=`/assets/images/menu/${i.thumb}` alt=`${i.alt}`)
            //- #drink.p-menu-group
            //-   .p-menu-info
            //-     .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Chicken_Porr_Egg_B.jpg' data-caption="01. DAD'S TOAST" data-jp-caption="DAD'S トースト")
            //-       h3 01. DAD'S TOAST
            //-       p.p-sub-title DAD'S トースト
            //-       p.u-font-noto ソーセージ、イワシ、トマトソース、バゲット
            //-       p.p-menu-item__desc
            //-         |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
            //-       //- .item-img-container
            //-       .p-menu-item__img
            //-         img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Chicken_Porr_Egg_B.jpg` alt='PHO CHAY')

            //-     .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Quiche.jpg' data-caption="02. MOM'S PATE CHAUD" data-jp-caption="MOM'S パテ")
            //-       h3 02. MOM'S PATE CHAUD
            //-       p.p-sub-title MOM'S パテ
            //-       p.u-font-noto 豚肉のパイ包み焼き、豚レバーのムース、ハラペーニョピクルス
            //-       p.p-menu-item__desc
            //-         |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
            //-       //- .item-img-container
            //-       .p-menu-item__img
            //-         img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Quiche.jpg` alt='PHO BO')


            #takeout.p-menu-group
              .p-menu-info
                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption="01. DAD'S TOAST" data-jp-caption="DAD'S トースト")
                  h3 01. TAKE OUT TAKE OUT
                  p.p-sub-title TAKE OUTメニュー
                  p.u-font-noto ソーセージ、イワシ、トマトソース、バゲット
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Chicken_Porr_Egg_B.jpg` alt='PHO CHAY')
                    img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption="02. MOM'S PATE CHAUD" data-jp-caption="MOM'S パテ")
                  h3 02. TAKE OUT TAKE OUT
                  p.p-sub-title TAKE OUTメニュー
                  p.u-font-noto 豚肉のパイ包み焼き、豚レバーのムース、ハラペーニョピクルス
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Quiche.jpg` alt='PHO BO')
                    img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='03. FRIED DAIKON RICE CAKE' data-jp-caption='アンドリューのフライドチキン')
                  h3 03. TAKE OUT TAKE OUT
                  p.p-sub-title TAKE OUTメニュー
                  p.u-font-noto 手羽先、ライム、エシャロット、ピーナッツ、赤キャベツ、マニーソース
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  //- .p-menu-item__img.is-show
                  .p-menu-item__img
                    //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Avo_Toast.jpg` alt='PHO CHAY')
                    img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_comingsoon.jpg' data-caption='04. FRENCH DIP BANH MI' data-jp-caption='牛バラのバインミー フレンチディップスタイル')
                  h3 04. TAKE OUT TAKE OUT
                  p.p-sub-title TAKE OUTメニュー
                  p.u-font-noto 12時間焼いた牛バラ、ホイズンソース、バジルペースト、もやし&玉ねぎ、バゲット、フォーのスープ(バインミーをディップする用)&自家製なます
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    //- img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Rug.jpg` alt='PHO BO')
                    img(src=`/assets/images/menu/img_comingsoon.jpg` alt='COMING SOON')


            .p-menu-thumb
              .p-menu-thumb__wrap#menu-thumb
                //- img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO CHAY')
                //- p.p-menu-thumb__name 01. PHO CHAY
                //- p.p-menu-thumb__name--jp ベジタブルフォー


