//- extend _template
extend /_dev/_include/_layout

block vars
  - title = 'GALLERY｜THE PIG & THE LADY｜OFFICIAL WEBSITE'
  - description = 'THE PIG & THE LADYのメニューや店舗内観・外観などをご紹介します。'
  - keywords = 'THE PIG & THE LADY,ザピッグアンドザレディ,ハワイ,ベトナム料理,モダンベトナムレストラン'
  - img = 'https://thepigandthelady.jp/assets/images/share/ogp.jpg'
  - url = 'https://thepigandthelady.jp'

block main

  .p-gallery
    header
      .p-lower__navigation__wrapper
        include /_dev/_include/_inc_lower_nav.pug
      .p-burger_wrapper(data-module="burgerMenu")
        .l-col.l-col--2
          .p-burger_space
          include /_dev/_include/_inc_burger_menu.pug
    .p-content
      h2 GALLERY
      .p-section
        .l-inner
          .p-gallery-wrap(data-module="GalleryShow")
            .p-gallery-col--column.p-gallery-order--1
              //- a(href='/assets/images/gallery/img_photo_01.jpg' data-module="GalleryShow")
              a.gallery-content__item(href='#' data-slide="1")
                img(src=`/assets/images/gallery/img_photo_01.jpg` alt='PHO CHAY')
              a.gallery-content__item(href='#' data-slide="2")
                img(src=`/assets/images/gallery/img_photo_02.jpg` alt='PHO CHAY')
            a.gallery-content__item.p-gallery-col.p-gallery-order--2(href='#' data-slide="3")
              img(src=`/assets/images/gallery/img_photo_03.jpg` alt='PHO CHAY')
            a.gallery-content__item.p-gallery-col.p-gallery-order--3(href='#' data-slide="4")
              img(src=`/assets/images/gallery/img_photo_04.jpg` alt='PHO CHAY')

            a.gallery-content__item.p-gallery-col.p-gallery-order--4(href='#' data-slide="5")
              img(src=`/assets/images/gallery/img_photo_05.jpg` alt='PHO CHAY')

            .p-gallery-col--column.p-gallery-order--5
              a.gallery-content__item.u-pcOnly(href='#' data-slide="6")
                img(src=`/assets/images/gallery/img_photo_06.jpg` alt='PHO CHAY')
              a.gallery-content__item.u-spOnly(href='#' data-slide="7")
                img(src=`/assets/images/gallery/img_photo_06.jpg` alt='PHO CHAY')

              a.gallery-content__item.u-pcOnly(href='/assets/images/gallery/img_photo_07.jpg' data-slide="7")
                img(src=`/assets/images/gallery/img_photo_07.jpg` alt='PHO CHAY')
              a.gallery-content__item.u-spOnly(href='/assets/images/gallery/img_photo_07.jpg' data-slide="8")
                img(src=`/assets/images/gallery/img_photo_07.jpg` alt='PHO CHAY')

            a.gallery-content__item.p-gallery-col.p-gallery-order--6.u-pcOnly(href='/assets/images/gallery/img_photo_08.jpg' data-slide="8")
              img(src=`/assets/images/gallery/img_photo_08.jpg` alt='PHO CHAY')
            a.gallery-content__item.p-gallery-col.p-gallery-order--6.u-spOnly(href='/assets/images/gallery/img_photo_08.jpg' data-slide="6")
              img(src=`/assets/images/gallery/img_photo_08.jpg` alt='PHO CHAY')

            a.gallery-content__item.p-gallery-col.p-gallery-order--7(href='/assets/images/gallery/img_photo_09.jpg' data-slide="9")
              img(src=`/assets/images/gallery/img_photo_09.jpg` alt='PHO CHAY')
            a.gallery-content__item.p-gallery-col.p-gallery-order--8.u-pcOnly(href='/assets/images/gallery/img_photo_10.jpg' data-slide="10")
              img(src=`/assets/images/gallery/img_photo_10.jpg` alt='PHO CHAY')
            a.gallery-content__item.p-gallery-col.p-gallery-order--8.u-spOnly(href='/assets/images/gallery/img_photo_10.jpg' data-slide="12")
              img(src=`/assets/images/gallery/img_photo_10.jpg` alt='PHO CHAY')
            .p-gallery-col--column.p-gallery-order--9
              a.gallery-content__item.u-pcOnly(href='/assets/images/gallery/img_photo_11.jpg' data-slide="11")
                img(src=`/assets/images/gallery/img_photo_11.jpg` alt='PHO CHAY')
              a.gallery-content__item.u-spOnly(href='/assets/images/gallery/img_photo_11.jpg' data-slide="10")
                img(src=`/assets/images/gallery/img_photo_11.jpg` alt='PHO CHAY')
              a.gallery-content__item.u-pcOnly(href='/assets/images/gallery/img_photo_12.jpg' data-slide="12")
                img(src=`/assets/images/gallery/img_photo_12.jpg` alt='PHO CHAY')
              a.gallery-content__item.u-spOnly(href='/assets/images/gallery/img_photo_12.jpg' data-slide="11")
                img(src=`/assets/images/gallery/img_photo_12.jpg` alt='PHO CHAY')



      // 以下modal
      //- #js-galleryModal.modal
      #js-galleryModal.p-galleryshow
        //- #js-galleryModalOverlay.modal-overlay
        #js-galleryModalOverlay.p-galleryshow-overlay
          #js-galleryModalClose.p-galleryshow-close

        .p-galleryshow-dialog
          .p-galleryshow-content
            //- .modal-header
            //- .p-galleryshow-header
              //- #js-galleryModalClose.modal-close
              #js-galleryModalClose.p-galleryshow-close
                //- img(
                //-   src="/assets/images/common/ic_close.png"
                //-   alt=""
                //-   decoding="async"
                //- )
            //- .modal-body
            .p-galleryshow-body
              #js-galleryModalSwiper.swiper-container
                .swiper-wrapper
                  .swiper-slide
                    .swiper-img
                      img(
                        src="/assets/images/gallery/img_photo_01.jpg"
                        alt=""
                        decoding="async"
                      )
                    //- .swiper-text リゾートゲートウェイ・ステーション
                    .swiper-text


                  .swiper-slide
                    .swiper-img
                      img(
                        src="/assets/images/gallery/img_photo_02.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text


                  .swiper-slide
                    .swiper-img
                      img(
                        src="/assets/images/gallery/img_photo_03.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text

                  .swiper-slide
                    .swiper-img
                      img(
                        src="/assets/images/gallery/img_photo_04.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text

                  .swiper-slide
                    .swiper-img
                      img(
                        src="/assets/images/gallery/img_photo_05.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text

                  .swiper-slide
                    .swiper-img
                      img.u-pcOnly(
                        src="/assets/images/gallery/img_photo_06.jpg"
                        alt=""
                        decoding="async"
                      )
                      img.u-spOnly(
                        src="/assets/images/gallery/img_photo_08.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text

                  .swiper-slide
                    .swiper-img
                      img.u-pcOnly(
                        src="/assets/images/gallery/img_photo_07.jpg"
                        alt=""
                        decoding="async"
                      )
                      img.u-spOnly(
                        src="/assets/images/gallery/img_photo_06.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text

                  .swiper-slide
                    .swiper-img
                      img.u-pcOnly(
                        src="/assets/images/gallery/img_photo_08.jpg"
                        alt=""
                        decoding="async"
                      )
                      img.u-spOnly(
                        src="/assets/images/gallery/img_photo_07.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text

                  .swiper-slide
                    .swiper-img
                      img(
                        src="/assets/images/gallery/img_photo_09.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text

                  .swiper-slide
                    .swiper-img
                      img.u-pcOnly(
                        src="/assets/images/gallery/img_photo_10.jpg"
                        alt=""
                        decoding="async"
                      )
                      img.u-spOnly(
                        src="/assets/images/gallery/img_photo_11.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text

                  .swiper-slide
                    .swiper-img
                      img.u-pcOnly(
                        src="/assets/images/gallery/img_photo_11.jpg"
                        alt=""
                        decoding="async"
                      )
                      img.u-spOnly(
                        src="/assets/images/gallery/img_photo_12.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text

                  .swiper-slide
                    .swiper-img
                      img.u-pcOnly(
                        src="/assets/images/gallery/img_photo_12.jpg"
                        alt=""
                        decoding="async"
                      )
                      img.u-spOnly(
                        src="/assets/images/gallery/img_photo_10.jpg"
                        alt=""
                        decoding="async"
                      )
                    .swiper-text

                .swiper-button
                  #js-swiper-button-prev.swiper-button-prev
                  #js-swiper-button-next.swiper-button-next
                  #js-swiper-numbers.swiper-numbers


